<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />
  </head>
  <body>
    
    <!--* Header -->
    <%- include('./partials/header'); %>
    
    <!--* Content -->
    <div class="container mt-4">
      <h2 class="dispaly-4 mb-4 text-dark">
        Arief Permana Sastra
        <small class="d-block text-muted mt-2">Junior Web Developer</small>
      </h2>

      <div class="row mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <img src="/images/img-home-portfolio.png" alt="" class="img-fluid rounded">
        </div>
        <div class="col-12 col-lg-6">
          <h3 class="text-dark">About</h3>
          <p class="text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero. Mauris pharetra quis nulla eget fermentum. In nec dapibus nisl, sit amet convallis nisl. Duis non urna et dui scelerisque volutpat vel sit amet lectus. Praesent vel malesuada erat. Nulla eu accumsan tellus.</p>
          <p class="text-dark text-justify">Sed vehicula, urna non cursus cursus, arcu urna eleifend erat, eget egestas nulla mauris et elit. Mauris et augue sed odio tristique blandit. Ut consequat, massa id interdum convallis, nisi nisi rhoncus erat, blandit laoreet mauris ipsum interdum felis. Aenean tincidunt lacus lectus, sed dapibus diam ultricies sed. Mauris auctor tempor elit, blandit efficitur orci. Duis quam lacus, commodo at odio sit amet, maximus laoreet nulla. Nullam eget tortor ac lacus vehicula ultricies. Mauris mattis quam sit amet lectus egestas, interdum ullamcorper massa vestibulum. Ut in tincidunt ligula. Nunc tortor diam, eleifend quis varius rhoncus, commodo id nisi. In in malesuada nunc.</p>
        </div>
      </div>

      <h3>Feature Project</h3>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
      </div>

      <h3>Testimonials</h3>
      <div class="row mb-4">
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">HTML</cite>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">NodeJS</cite>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">SCSS</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <!--*Footer  -->
    <%- include('./partials/footer'); %>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
