<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />
  </head>
  <body>
    
    <!--* Header -->
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container">
        <a href="#" class="navbar-brand text-primary">
          RifDev
        </a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menuHeader" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="menuHeader">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link">Portfolio</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <!--* Content -->
    <div class="container mt-4">
      <h2 class="dispaly-4 mb-4 text-dark">
        Arief Permana Sastra
        <small class="d-block text-muted mt-2">Junior Web Developer</small>
      </h2>

      <div class="row mb-4">
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
          <img src="/images/img-home-portfolio.png" alt="" class="img-fluid rounded">
        </div>
        <div class="col-12 col-lg-6">
          <h3 class="text-dark">About</h3>
          <p class="text-dark text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero. Mauris pharetra quis nulla eget fermentum. In nec dapibus nisl, sit amet convallis nisl. Duis non urna et dui scelerisque volutpat vel sit amet lectus. Praesent vel malesuada erat. Nulla eu accumsan tellus.</p>
          <p class="text-dark text-justify">Sed vehicula, urna non cursus cursus, arcu urna eleifend erat, eget egestas nulla mauris et elit. Mauris et augue sed odio tristique blandit. Ut consequat, massa id interdum convallis, nisi nisi rhoncus erat, blandit laoreet mauris ipsum interdum felis. Aenean tincidunt lacus lectus, sed dapibus diam ultricies sed. Mauris auctor tempor elit, blandit efficitur orci. Duis quam lacus, commodo at odio sit amet, maximus laoreet nulla. Nullam eget tortor ac lacus vehicula ultricies. Mauris mattis quam sit amet lectus egestas, interdum ullamcorper massa vestibulum. Ut in tincidunt ligula. Nunc tortor diam, eleifend quis varius rhoncus, commodo id nisi. In in malesuada nunc.</p>
        </div>
      </div>

      <h3>Feature Project</h3>
      <div class="row mb-4">
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-xl-3 mb-4 mb-lg-0">
          <figure class="figure">
            <img class="figure-img img-fluid rounded img-thumbnail" src="/images/img-feature.png" alt="feature-project">
            <figcaption class="figure-caption">Portfolio item heading</figcaption>
          </figure>
        </div>
      </div>

      <h3>Testimonials</h3>
      <div class="row mb-4">
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">HTML</cite>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">NodeJS</cite>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-lg-4">
          <figure>
            <blockquote class="blockquote">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pulvinar purus vitae nisl semper, a ornare purus euismod. Quisque id dapibus ligula, vel finibus lectus. Aliquam neque diam, iaculis non arcu a, fringilla viverra libero.
            </blockquote>
            <figcaption class="blockquote-footer">
              Someone fomous in <cite title="HTML">SCSS</cite>
            </figcaption>
          </figure>
        </div>
      </div>
    </div>

    <!--*Footer  -->
    <footer class="bg-light py-4">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-4 col-xl-3">
            <div class="d-flex align-items-center mb-2">
              <div class="me-2"><img class="img-fluid" src="/images/footer-code.png" alt="Footer Code"></div>
              <h5 class="mb-0">Code</h5>
            </div>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/mdi_github.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Github</h6></a>
              </li>
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/mdi_codepen.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">CodePen</h6></a>
              </li>
              <li class="d-flex align-items-center">
                <img class="img-fluid me-1" src="/images/mdi_stack-overflow.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Stack Overflow</h6></a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 col-xl-3">
            <div class="d-flex align-items-center mb-2">
              <div class="me-2"><img class="img-fluid" src="/images/footer-design.png" alt="Footer Code"></div>
              <h5 class="mb-0">Code</h5>
            </div>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/dribbble-logo.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Dribbble</h6></a>
              </li>
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/shutterstock.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Shutter Stock</h6></a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-4 col-xl-3">
            <div class="d-flex align-items-center mb-2">
              <div class="me-2"><img class="img-fluid" src="/images/footer-media.png" alt="Footer Code"></div>
              <h5 class="mb-0">Social Media</h5>
            </div>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/instagram.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Instagram</h6></a>
              </li>
              <li class="d-flex align-items-center mb-1">
                <img class="img-fluid me-1" src="/images/outline-facebook.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">Facebook</h6></a>
              </li>
              <li class="d-flex align-items-center">
                <img class="img-fluid me-1" src="/images/linkedin.png" alt="">
                <a class="text-decoration-none text-dark" href=""><h6 class="mb-0">LinkedIn</h6></a>
              </li>
            </ul>
          </div>
        </div>
        <p class="text-center text-primary mb-0">RiefDev©2022.</p>
      </div>
    </footer>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>
