<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/custom-bootstrap.min.css' />
</head>
<body>
    <!--* Header -->
    <%- include('./partials/header'); %>

    <!--* Content -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-4 mb-4">
                <div class="card">
                    <div class="badge bg-light position-absolute mt-3 ms-3 text-dark">tag</div>
                    <img src="/images/card-portfolio.png" alt="Image portfolio card" class="card-img-top">
                    <div class="card-body">
                        <h3 class="card-title">Portfolio item heading</h3>
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum sapien et ipsum laoreet, nec interdum ante malesuada.
                        </p>
                        <a href="#" class="btn btn-primary w-100 stretched-link">See Item</a>
                    </div>
                    <div class="card-footer small">Created DD-MM-YYYY</div>
                </div>
            </div>
        </div>
    </div>

    <!--* Footer -->
    <%- include('./partials/footer'); %>

    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    
</body>
</html>